<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>224422909862-j7bm8ppipcqpa88o9cnirka2galm2es9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.224422909862-j7bm8ppipcqpa88o9cnirka2galm2es9</string>
	<key>API_KEY</key>
	<string>AIzaSyBWYeCTR7uL5lIGbCycQCDsYYiT8jDTlBY</string>
	<key>GCM_SENDER_ID</key>
	<string>224422909862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.Andredev.studyapp</string>
	<key>PROJECT_ID</key>
	<string>dsquiz-8d7e9</string>
	<key>STORAGE_BUCKET</key>
	<string>dsquiz-8d7e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:224422909862:ios:b7b4279d2411f577f66167</string>
</dict>
</plist>